* {
  margin: 0;
  padding: 0;
}
canvas {
  background-color: rgb(0, 81, 128);
  width: 100%;
  z-index: 2;
}
select {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 8;
}
#selector {
  position: fixed;
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
  background: rgba(56, 56, 56, 0.255);
  border-radius: 5px;
  width: 900px;
  height: 55px;
  transition-duration: 0.5s;
}
#option {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
}
#option div {
  padding: 10px 2px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(153, 205, 50, 0.363);
  width: calc(100% / 4);
  text-align: center;
}
#option div:hover {
  background-color: rgb(112, 149, 39);
}
#obj {
  height: 110px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

#obj div {
  height: 100px;
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  margin: 5px 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding-bottom: 8px;
}

#obj div:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#constructionline {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 30px;
  display: none;
  background: repeating-linear-gradient(
    45deg,
    yellow 0,
    yellow 10px,
    black 10px,
    black 20px
  );
}

.your-div {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.your-div::-webkit-scrollbar {
  display: none;
}

#option > div:first-child {
  background-color: rgb(112, 149, 39);
}

#time {
  position: fixed;
  top: 2px;
  left: 2px;
  background-color: rgb(112, 149, 39);
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}